---
layout: splash
feature_row:
  - image_path: /assets/images/ndw.jpg
    alt: "placeholder image 1"
    title: "New Digital Worlds"
    excerpt: "A book examining the inequalities in digital knowledge production and how to address them published by Northwestern University Press in 2018"
    url: "/ndw"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/rta.jpg
    alt: "placeholder image 2"
    title: "Rocking the Academy"
    excerpt: "A podcast bringing listeners conversations with the very best truth tellers who are formulating a new vision for the future of higher education"
    url: "/rta"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/reanimate.jpg
    title: "Reanimate"
    excerpt: "An intersectional feminist publishing collective producing digital editions of little-known writing by women in media industries"
    url: "/reanimate"
    btn_label: "Read More"
    btn_class: "btn--inverse"
---
{% include figure image_path="/assets/images/banner.jpg" alt="this is an banner with a rainbow background" %}

<p align="center" style="font-size:30px;font-family:inherit;"><b>Featured Projects</b></p>

{% include feature_row %}
